@model DT191G_Projekt.Models.Product

@{
    ViewData["Title"] = "Produktdetaljer";
}

<h1>@Html.DisplayFor(model => model.ProductName)</h1>

<div class="floatright">
    <a asp-action="Index">Tillbaka</a> |
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Ändra</a> |
    <a asp-action="Delete" asp-route-id="@Model?.ProductId">Radera</a>
</div>

<dl class="detailsdl">
    <dt>

    </dt>
    <dd>
        <img src="~/uploaded/@Html.DisplayFor(model => model.ProductImageName)" width="200" alt=""/>
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ProductName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ProductName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ProductDescription)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ProductDescription)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ProductPrice)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ProductPrice)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ProductCategory)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.ProductCategory.ProductCategoryName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.UpdatedBy)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.UpdatedBy)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.UpdatedDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.UpdatedDate)
    </dd>
</dl>